<div class="links">
<h1>Project links</h1>

<div class="link">
<a class="active" href="{{ site.url }}">
<h1>Home</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="{{ site.url }}/hsw12asm.html">
<h1>HSW12 Assembler Manual</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="{{ site.url }}/hsw12.html">
<h1>HSW12 IDE Manual</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/HSW12">
<h1>GitHub Repository</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/HSW12/issues">
<h1>Bug Tracker</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/HSW12/wiki">
<h1>Wiki</h1>
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
