<div class="links">
<h1>Related Projects</h1>

<!-- AriCalculator -->
<div class="link">
<a class="active" href="//hotwolf.github.io/AriCalculator">
<h1>AriCalculator</h1>
Handheld calculator
</a>
</div><!--<div id="link">-->

<!-- ColorPanel -->
<div class="link">
<a class="active" href="//hotwolf.github.io/ColorPanel">
<h1>ColorPanel</h1>
A decorative mood light
</a>
</div><!--<div id="link">-->

<!-- MagniCube -->
<div class="link">
<a class="active" href="//hotwolf.github.io/MagniCube">
<h1>MagniCube</h1>
A 4x4x4 LED cube
</a>
</div><!--<div id="link">-->

<!-- OpenBDC -->
<div class="link">
<a class="active" href="//hotwolf.github.io/OpenBDC">
<h1>OpenBDC</h1>
Universal BDM debugger
</a>
</div><!--<div id="link">-->

<!-- S12CBase -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12CBase">
<h1>S12CBase</h1>
Basic application framework
</a>
</div><!--<div id="link">-->

<!-- S12CForth -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12CForth">
<h1>S12CForth</h1>
ANS Forth
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
