<div class="links">
<h1>Related Projects</h1>

<!-- Mini-BDM-Pod -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/Mini-BDM-Pod">
<h1>Mini-BDM-Pod</h1>
A D-Bug12Xv5 compatible BDM Pod
</a>
</div><!--<div id="link">-->

<!-- S12CBase -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/S12CBase">
<h1>S12CBase</h1>
Low level drivers
</a>
</div><!--<div id="link">-->

<!-- S12CForth -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/S12CForth">
<h1>S12CForth</h1>
ANS Forth implementation for S12 MCUs
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
